@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    background-color: $background-color;
    background-image:
        linear-gradient(rgba($primary-color, 0.07) 1px, transparent 1px),
        linear-gradient(90deg, rgba($primary-color, 0.07) 1px, transparent 1px);
    background-size: 50px 50px;
    color: $text-color;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color $transition-speed ease;
}

h1,
h2,
h3 {
    font-family: $font-titles;
    font-weight: 700;
    text-shadow: $glow-primary;
}