.controls {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: 1.5rem;
}

.control-button {
    background-color: transparent;
    color: $accent-color;
    border: 2px solid $accent-color;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: $font-titles;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color $transition-speed, color $transition-speed, box-shadow $transition-speed;

    &:hover {
        background-color: $accent-color;
        color: $background-color;
        box-shadow: $glow-accent; // Usando o novo glow para acento
    }
}