.footer {
    background-color: rgba($background-color, 0.8);
    color: $text-color;
    padding: 2rem 0;
    text-align: center;
    border-top: 1px solid $border-color;
    box-shadow: $shadow-blue-blur;
    font-family: $font-body;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .social-links a {
        color: $accent-color;
        margin: 0 1rem;
        text-decoration: none;
        transition: color $transition-speed ease;

        &:hover {
            color: $primary-color; // Cor primária para o hover
            text-shadow: $glow-primary; // Brilho ciano suave
        }
    }
}