.footer {
    padding: 2rem;
    background-color: rgba($background-color, 0.8);
    backdrop-filter: blur(5px);
    text-align: center;
    margin-top: 4rem;
    position: relative; // Necessário para o pseudo-elemento
    border-top: 1px solid $border-color; // Linha base

    // Efeito de feixe de luz
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 150px; // Largura do feixe de luz (aumentada)
        height: 1px; // Espessura da linha
        background: linear-gradient(90deg, transparent, $primary-color, transparent);
        animation: line-scan 5s linear infinite;
    }
}

.footer {
    .footer-title {
        color: $accent-color;
        margin-bottom: 1.5rem;
        font-family: $font-titles;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;

        a {
            color: $text-color;
            font-size: 2rem;
            transition: color $transition-speed, transform $transition-speed;

            &:hover {
                color: $primary-color;
                transform: scale(1.2);
            }
        }
    }

    .footer-text {
        margin: 0;
        color: darken($text-color, 30%);
        font-size: 0.9rem;
    }
}