.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba($background-color, 0.6);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid $border-color;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;

    .logo {
        position: relative; // Necessário para o feixe de luz
        padding-bottom: 8px; // Espaço para a linha não sobrepor o texto

        h1 {
            margin: 0;
            font-size: 1.5rem;
            color: $text-color;
        }

        span {
            font-family: $font-body;
            font-size: 0.9rem;
            color: $primary-color;
        }

        // Efeito de feixe de luz
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 150px; // Largura do feixe de luz
            height: 1px;
            background: linear-gradient(90deg, transparent, $primary-color, transparent);
            animation: line-scan 5s linear infinite;
        }
    }

    .navigation {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 2rem;
        }

        a {
            text-decoration: none;
            color: $text-color;
            font-family: $font-body;
            font-size: 1rem;
            padding: 5px 0;
            position: relative;
            transition: color $transition-speed;

            &:hover {
                color: $primary-color;
                text-shadow: 0 0 5px rgba($primary-color, 0.7);

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $primary-color;
                transition: width $transition-speed ease-out;
            }
        }
    }
}