.header {
    background-color: rgba($background-color, 0.6);
    backdrop-filter: blur(10px);
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;

    .logo {
        h1 {
            font-size: 1.5rem;
            color: $text-color;
            margin: 0; // Ajustado para a nova paleta
            text-shadow: $glow-primary; // Brilho ciano suave
        }

        span {
            font-size: 0.8rem;
            color: $text-color;
        }
    }

    .navigation ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1.5rem;

        a {
            color: $text-color;
            font-weight: bold;
            text-decoration: none;
            position: relative;
            padding-bottom: 5px;
            transition: color $transition-speed ease;

            &:hover {
                color: $primary-color; // Ciano para o hover
                text-shadow: $glow-primary; // Brilho ciano suave
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $primary-color;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform $transition-speed ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}