.hobbies-panel {
    background-color: $panel-background;
    backdrop-filter: blur(10px);
    border: 1px solid rgba($border-color, 0.5);
    padding: 2rem;
    margin: 4rem 2rem;
    box-shadow: $glow-primary, $shadow-blue-blur;
    clip-path: polygon(0 40px, 40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%);
    transition: transform $transition-speed, box-shadow $transition-speed;
    animation: fadeIn 0.8s 0.4s ease-out forwards;
    opacity: 0;

    &:hover {
        transform: translateY(-10px) perspective(1000px);
        box-shadow: $glow-primary, $glow-accent;
    }

    h2 {
        color: $primary-color; // Ciano para destaque
        text-align: center;
        margin-bottom: 2rem;
    }

    .activities-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .activity-category {
        h3 {
            color: $accent-color;
            border-bottom: 2px solid $accent-color;
            padding-bottom: 0.5rem;
            margin-bottom: 1.5rem;
        }

        ul {
            list-style: none;
            padding: 0;
        }
    }

    .hobby-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.5rem;
        gap: 1rem;

        h4 {
            margin: 0 0 0.25rem 0;
            color: $text-color;
        }

        p {
            margin: 0;
            color: darken($text-color, 20%);
        }
    }

    .hobby-icon {
        font-size: 2rem;
        color: $primary-color;
        margin-top: 5px;
        flex-shrink: 0;
        transition: transform $transition-speed, color $transition-speed;

        .hobby-item:hover & {
            transform: scale(1.2);
            color: $accent-color;
        }
    }
}