.projects-panel {
    background-color: $panel-background;
    backdrop-filter: blur(10px);
    border: 1px solid $border-color;
    padding: 3rem 2rem;
    margin: 4rem 2rem;
    box-shadow: $glow-primary, $shadow-blue-blur;
    position: relative;
    animation: fadeIn 1s 0.6s ease-out backwards;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .projects-title {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}