.skills-panel {
    background-color: $panel-background;
    backdrop-filter: blur(10px);
    border: 1px solid $border-color;
    padding: 2rem;
    margin: 4rem 2rem; // Ajuste de margem para espaçamento
    box-shadow: $glow-primary, $shadow-blue-blur; // Usando as novas variáveis de brilho e sombra
    position: relative;
    animation: fadeIn 1s 0.2s ease-out backwards;
    transition: transform $transition-speed ease-out;

    &:hover {
        transform: translateY(-10px) perspective(1000px);
    }

    .skills-title {
        color: $text-color;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .skills-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
    }

    .skill-item {
        display: block;
        background-color: rgba($primary-color, 0.1);
        padding: 0.75rem 1.5rem;
        border-radius: 5px;
        border: 1px solid transparent;
        border-left: 4px solid $primary-color;
        transition: all $transition-speed ease;

        &:hover {
            background-color: rgba($accent-color, 0.15);
            border-color: rgba($accent-color, 0.5);
            transform: scale(1.05);
        }
    }

    .skill-level {
        font-style: italic;
        color: $accent-color;
    }
}